$$Pupipat Singkhorn$$

# Homework 1 Clustering and Regression

## Metrics

| Model A | Predicted dog | Predicted cat |
| ----------- | :-: | :-: |
| **Actual dog** | 30 | 20 | 
| **Actual cat** | 10 | 40 |

### T1.
What is the accuracy of Model A?

In [1]:
tn = 30
fn = 10
fp = 20
tp = 40

accuracy = ( tp+tn ) / ( tp+tn+fp+fn )

print(f' Accuracy = {accuracy} ')

 Accuracy = 0.7

### T2.
Consider cats as ‘class 1’ (positive) and dogs as ‘class 0’ (negative),
calculate the precision, recall, and F1.

| Model A | Predicted dog (-) | Predicted cat (+) |
| ----------- | :-: | :-: |
| **Actual dog** | TN | FP | 
| **Actual cat** | FN | TP |

In [2]:
accuracy = ( tp+tn ) / ( tp+tn+fp+fn )
print(f' Accuracy = {accuracy} ')

 Accuracy = 0.7

In [3]:
tn = 30
fn = 10
fp = 20
tp = 40

precision = tp / (tp+fp)
recall = tp / (tp+fn)
F1 = 2*tp / ( 2*tp + fp + fn )

print(f' Precision = {precision} ')
print(f' Recall = {recall} ')
print(f' F1 = {F1} ')

 Precision = 0.6666666666666666
 Recall = 0.8
 F1 = 0.7272727272727273

### T3.
Consider class cat as ‘class 0’ and class dog as ‘class 1’, calculate the precision, recall, and F1.

| Model A | Predicted dog (+) | Predicted cat (-) |
| ----------- | :-: | :-: |
| **Actual dog** | TP | FN | 
| **Actual cat** | FP | TN |

In [4]:
accuracy = ( tp+tn ) / ( tp+tn+fp+fn )

print(f' Accuracy = {accuracy} ')

 Accuracy = 0.7

In [5]:
tp = 30
tn = 40
fp = 10
fn = 20

precision = tp / (tp+fp)
recall = tp / (tp+fn)
F1 = 2*tp / ( 2*tp + fp + fn )

print(f' Precision = {precision} ')
print(f' Recall = {recall} ')
print(f' F1 = {F1} ')

 Precision = 0.75
 Recall = 0.6
 F1 = 0.6666666666666666

### T4.
Now consider a lopsided population where there are 80% cats.\
What is the accuracy of Model A?\
Using dog as the positive class, what is the precision, recall, and F1?\
Explain how and why these numbers change (or does not change) from the previous questions.

| Model A | Predicted dog (+) | Predicted cat (-) |
| ----------- | :-: | :-: |
| **Actual dog** | TP | FN | 
| **Actual cat** | FP | TN |

| Model A | Predicted dog | Predicted cat |
| ----------- | :-: | :-: |
| **Actual dog** | 30 | 20 | 
| **Actual cat** | 10 | 40 |

when 80% cats,
Actual cat = 80
Actual dog = 20

Actual dog TP = 30 but from new constrain Actual dog(TP+FN) must not exceed 20\
then, **TP will decrease**

From T2, T3 acccuracy does not change even data changes.\
$Accuracy = 0.7$

$$ tp+tn+fp+fn = 100 $$
$$ fp + tn = 80 $$
$$ 0.7 = \frac{tp+tn}{tp+tn+fp+fn} $$

solve three eq. in form of *tp*

$$ \therefore tn = 70 - tp $$
$$ \therefore fp = tp + 10 $$
$$ \therefore fn = 20 - tp $$

$$
precision = \frac{tp}{tp+fp}
= \frac{tp}{2tp+10}
= \frac{1}{2 + 10/tp}
$$

when *tp* decrease, **precision will decrease**

$$
recall = \frac{tp}{tp+fn}
= \frac{tp}{20}
$$

when *tp* decrease, **recall will decrease**

$$
F1 = \frac{2} {1/recall + 1/precision}
$$

when *recall* and *precision* decrease, **F1 will decrease**

### OT1.
Consider the equations for accuracy and F1.
When will accuracy be equal, greater, or less than F1?

$$
Accuracy = \frac{tp+tn} {tp+tn+fp+fn}
= \frac{1} {1+\frac{fp+fn} {tp+\textbf{tn}}}
$$

$$
F1 = \frac{2tp} {2tp+fp+fn}
= \frac{1} {1+\frac{fp+fn} {tp+\textbf{tp}}}
$$

$$ \therefore Accuracy = F1   ; tn = tp $$
$$ \therefore Accuracy > F1   ; tn > tp $$
$$ \therefore Accuracy < F1   ; tn < tp $$

## Clustering

## Titanic : My heart will go on

In this part of the exercise we will work on the Titanic dataset provided by Kaggle. The Titanic dataset contains information of the passengers boarding the Titanic on its final voyage. We will work on predicting whether a given passenger will survive the trip.
Let’s launch Jupyter and start coding!
We start by importing the data using Pandas

In [2]:
import pandas as pd

In [7]:
train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url) #training set

test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url) #test set

In [9]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [11]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### T8.
What is the median age of the training set? You can easily modify the age in the dataframe by

In [13]:
train["Age"] = train["Age"].fillna(train["Age"].median())

Note that you need to modify the code above a bit to fill with mode() because mode() returns a series rather than a single value.